.ins-comment-wrapper
  .comment-header-count
    padding 0 10px 12px 10px
    border-bottom: 2px solid #d9d9d9;
    .count
      padding-bottom 12px
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #415065;
  .comment-content-wrapper
    padding 0 10px 0 10px
    .comment-lv1-wrapper
      padding 20px 0 22px 0
      border-bottom: 2px solid #d9d9d9;
      .comment-property
        margin-bottom 12px
        .comment-head-img
          width 28px
          height 28px
          border-radius 50%
          vertical-align middle
          margin-right 14px
        .user-name
          font-size: 15px;
          font-weight 400
          color: #415065;
          margin-right 15px
          vertical-align middle
        .comment-publish-time
          font-size: 12px;
          color: #415065;
          vertical-align middle
      .comment-content
        font-weight 500
        font-size: 14px;
        color: #415065;
        margin-bottom 12px
      .comment-click-function
        display flex
        .comment-thumb
          margin-right 20px
        .comment-click
          cursor pointer
          .comment-icon-font
            font-size 22px
            color #EB8B1F
            vertical-align middle
            margin-right 4px
            &.already-comment
              color #24C8C2
          .comment-icon-des
            vertical-align middle
            font-size: 12px;
            color: #9d9d9d
            text-align: center;
            font-weight bold
      .reply-wrapper
        width 100%
        .lv2-reply-textarea
          padding: 5px 15px;
          width 100%
          height 30px
          font-size 13px
          border: 1px solid #A6A8AB
          border-radius 4px
          resize none
          display inline-block
          vertical-align top
          outline-style none
      .lv2-comment
        text-align right
        margin-top 10px
      .comment-lv2-wrapper
        margin-top 10px
        border-top: 1px solid #E8E8E8;
        padding 10px 10px 0 20px;
        .lv-content-wrapper
          .user-name
          .mention-user
            color: #3194d0
            font-size: 15px;
            line-height: 1.5;
            font-weight: 500
          .lv2-content
            font-weight 500
            font-size: 13px;
            color: #415065;
        .lv2-comment-property
          padding-top 5px
          display flex
          .lv2-publish-time-wrapper
            flex 1
            font-size: 12px;
            color: #415065;
            line-height: 33px
          .reply-button
            margin-right 15px
            cursor pointer
            .comment-icon-font
              font-size 22px
              color #24C8C2
              vertical-align middle
              margin-right 4px
            .comment-icon-des
              vertical-align middle
              font-size: 12px;
              color: #9d9d9d
              text-align: center;
              font-weight bold
      .comment-lv2-reply-wrapper
        width 100%
        .lv1-reply-textarea
          padding: 10px 15px;
          width 100%
          height 100px
          font-size 13px
          border: 1px solid #A6A8AB
          border-radius 4px
          resize none
          display inline-block
          vertical-align top
          outline-style none
        .lv2-comment
          text-align right
          margin-top 10px
  .comment-write-wrapper
    margin-top 30px
    textarea
      padding 10px 15px
      width 100%
      height 120px
      font-size 13px
      border 1px solid #dcdcdc
      border-radius 4px
      resize none
      display inline-block
      vertical-align top
      outline-style none
    .comment-write-button
      margin-top 20px
      text-align right
