.home-topic-detail-wrapper
  padding 30px 0 40px 0
  width 800px
  margin 0 auto
  .topic-detail-title
    border-bottom: 1px dashed #979797;
    padding-bottom 30px
    text-align center
    font-size: 30px;
    color: #333333;
    font-family: PingFangSC-Light;
  .topic-detail-user-wrapper
    font-family: PingFangSC-Regular
    display flex
    padding-top 23px
    .head-img
      width 30px
      height 30px
      border-radius 50%
    .author
      margin-left 24px
      font-size 16px
      color #415065
    .publish-time
      margin-left 24px
      font-size: 12px;
      color: #415065;
    .detail-favorite
      margin-left 28px
  .topic-detail-content
    padding-top 25px
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #415065;
    line-height: 26px;
  .topic-comment-wrapper
    padding-top 40px
