@import '../../../../commons/style/common.styl'
.home-title-common-wrapper
  border-bottom: 1px dashed #979797;
  padding-bottom 40px
  .title-text
    font-family PingFangSC-Light;
    font-size 30px
    color #333333
    letter-spacing 0
  .search-wrapper
    padding-top 30px
    display flex
    .input-div
      flex 1
      .ivu-cascader
        .ivu-select-dropdown
          .ivu-cascader-menu
            height 200px
      .ivu-input
        background-color #80C5D6
        placeholder(14px, #495060)
    .search-div
      position: relative;
      display: flex;
      width: 360px;
      height 32px
      background: #f6f6f6;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      box-sizing: border-box;
      transition(.3s)
      &:hover
        background #fff
        border 1px solid #8590a6
        width 400px
      &:hover .search-icon
        color #0084ff
        background-color: rgba(0, 0, 0, 0);
      input
        color: #1a1a1a;
        height: 32px;
        line-height: 24px;
        padding-left 10px
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
        font-family: inherit;
        font-size: 13px;
        font-weight: inherit;
        background: transparent;
        border: none;
        outline: none;
        resize: none;
        placeholder(13px, #8590a6)
      .search-icon
        background-color: #028BAD;
        border-radius: 0 3px 3px 0;
        color #ffffff
        padding-top 3px
        font-size: 14px;
        display: block;
        text-align: center;
        width: 35px;
        height: 32px;
        margin-top -1px
        margin-right -1px
        transition(.3s)
        i
          font-size: 25px;
